<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qw.desensitize.mapper.UserMapper">

    <select id="listObj" resultType="com.qw.desensitize.dto.UserDto">
        select * from user
        where phoneNo = #{userParam.phoneNo}
    </select>

    <select id="listParam" resultType="com.qw.desensitize.dto.UserDto">
        select * from user
        where phoneNo = #{phone}
    </select>
</mapper>
